[user]
	name = Nathan Kitching
	email = nath.nk1214@gmail.com
[color]
	ui = auto
[init]
	defaultBranch = -m
[safe]
	directory = /home/kitch/suckless/dwm
	directory = /home/kitch/suckless/st
[pull]
	rebase = true
[rebase]
	autoStash = true
